@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.orbitron-titles {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
    overflow-x: hidden;
}

.section{
    width: 100%;
    position: relative;

}


.hero{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010101;

    position: relative;

    overflow: hidden;

}

#box{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    border-radius: 8px;
    position: absolute;
    z-index: 0;
    opacity: 1;
}

p{
    font-size: 1rem;
    color: #f1f1f1;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid{
    width: clamp(200px, 60%, 2000px);
    border-radius: 6px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "b1 b2 b3 b4"
    "b5 b5 b6 b6";
    
    grid-template-rows: 200px 200px;

    gap: 10px;
    padding: 10px;

    background-color: rgb(119, 127, 135);

    z-index: 1;
}

.grid-item{
    position: relative;
    border-radius: 8px;
    /* background-color: #46474b; */
    background-color: rgb(89, 95, 101);

    border: 4px solid #30333b;
    overflow: hidden;

    cursor: pointer;
}

#ojo-gojo{
    position: absolute;
    display: block;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%) scale(2);
    width: 500px;
}

.hotbar{
    position: fixed;
    width: 100vw;
    top: 0;

    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

    z-index: 1;

}

#svg-menu{
    width: 40px;
    stroke: #fefddf;
    cursor: pointer;

}

#logo-gsap{
    width: 100px;
}

.carousel {
    width: 100%;
    height: 400vh;
    background-color: #30333b;
    padding-top: 65px;

    position: relative;
}

.carousel::after{
    content: "";

    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #010101;
    transform: rotate(1deg) translateY(-14px);

}

.containerCarousel{
    display: flex;
    gap: 10px;
    width: 100%;

    overflow-x: hidden;
    transform: rotate(1deg) translateY(-15px);
    border-top: 6px dashed #010101;
    border-bottom: 6px dashed #010101;
    padding: 10px 0;
}


.carousel-item img{
    width: 200px;

}

.carousel-item video{
    width: 200px;

}

.titulosFavoritos{
    height: 100%;
    padding: 0 80px;
    
    background-color: #30333b;
    
    position: relative;
}

.h1{
    font-size: 6rem;
    color: #f1f1f1;

}

#my{
    transform: translateY(200px) translateX(40px);

}

#favorite{
    transform: translateY(380px) translateX(750px);

}

#videogames{
    transform: translateY(560px) translateX(40px);

}

/* .gojo{
    height: 400vh;

    position: relative;

    background-color: #010101;
}

.gojo::after{
    content: "";

    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #30333b;
    transform: rotate(1deg) translateY(-14px);
} */